.container
  = link_to new_article_path do
    New
  - @articles.each_slice(3) do |articles|
    .row
      - articles.each do |article|
        .col-sm-4
          = link_to article_path(article) do
            .article{class: "id_" + article.id.to_s}
              = article.title
  = paginate @articles
