%section.hero
  .container
    .row
      .col-xs-12
        - unless title.blank?
          %h6.mb-0.title= title
        - unless header.blank?
          %h2.pt-1.mb-0.mt-0= header
        - unless sub_header.blank?
          %h4.pb-1= sub_header
        -# - unless button_cta.blank?
        -#   = link_to button_cta, new_user_registration_path, class: 'btn btn-success'
        - unless button_info.blank?
          %button.btn.btn-success{'data-target' => '#requestDemo', 'data-toggle' => 'modal'}= button_info
