%canvas{id: "hipaa-violations", width: "400", height: "200"}
:javascript
  var ctx = document.getElementById("hipaa-violations");
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014"],
        datasets: [{
          data: [260, 1033, 1162, 1574, 1494, 2221, 2146, 2709, 2595, 3361, 3472, 1287],
          backgroundColor: [
            'rgba(2,71,220,0.5)',
            'rgba(25,67,210,0.5)',
            'rgba(47,62,200,0.5)',
            'rgba(70,58,191,0.5)',
            'rgba(93,53,181,0.5)',
            'rgba(116,49,171,0.5)',
            'rgba(138,44,161,0.5)',
            'rgba(161,40,151,0.5)',
            'rgba(184,35,142,0.5)',
            'rgba(206,31,132,0.5)',
            'rgba(229,26,122,0.5)'
          ],
          borderColor: [
            'rgb(2,71,220)',
            'rgb(25,67,210)',
            'rgb(47,62,200)',
            'rgb(70,58,191)',
            'rgb(93,53,181)',
            'rgb(116,49,171)',
            'rgb(138,44,161)',
            'rgb(161,40,151)',
            'rgb(184,35,142)',
            'rgb(206,31,132)',
            'rgb(229,26,122)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Confirmed HIPAA Privacy Act Violations since 2004'
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
  });
%small
  source
  %a{href: 'http://www.hhs.gov/hipaa/for-professionals/compliance-enforcement/data/enforcement-results-by-year/index.html'} HHS.gov
