%section#features
  .container
    .row
      .col-sm-12.text-xs-center
        %h2= features[:title]
        %br
        %br
    - features[:items].each_slice(3) do |items|
      .row
        - items.each do |item|
          .col-md-4
            .row.feature
              .col-xs-2.text-xs-right{class: item[:color]}
                %i.mdi{class: "mdi-#{item[:icon]}"}
              .col-xs-10
                %h5
                  %b= item[:title]
                %p= simple_format item[:body]
            %br
%hr
