%hr
%section#sub-footer
  .container
    .row
      .col-sm-12.text-xs-center
        %h3= t('.header')
        %h5.m-b-2= t('.sub_header')
        %button.btn.btn-primary{'data-target' => '#requestDemo', 'data-toggle' => 'modal'}= t('.button_info')
