.row
  .col-sm-6
    %blockquote “The great thing about Paubox is they are ahead of the game in terms of their tech behind how they make encryption so easy. They are the only email encryption company out there that’s putting the user experience first.”
    .row
      .col-xs-2
        = image_tag 'customers/headshots/dan_miller.png', class: 'img-fluid img-circle'
      .col-xs-10
        %h5 Dan Miller, CEO
        %h6 Level Therapy
    %br
  .col-sm-6
    %blockquote “Paubox has allowed me freedom to communicate directly and more broadly with my psychotherapy clients and with other related professionals. With its seamless email encryption and keeping my own email address, Paubox has given me peace of mind.”
    .row
      .col-xs-2
        = image_tag 'customers/headshots/katie_mcbride.png', class: 'img-fluid img-circle'
      .col-xs-10
        %h5 Katie McBride, Ph.D.
        %h6 Licensed Clinical Psychologist
    %br
.row
  .col-sm-6
    %blockquote “We now utilize our normal email workflow to communicate with our referring doctors about their patients’ treatment. The information is instantaneous, convenient and most importantly secure.”
    .row
      .col-xs-2
        = image_tag 'customers/headshots/james_ellis.png', class: 'img-fluid img-circle'
      .col-xs-10
        %h5 Dr. Jim Ellis, Owner/Surgeon
        %h6 Ellis Oral Surgery
    %br
  .col-sm-6
    %blockquote “We’re better now because we’re protecting our clients’ information.”
    .row
      .col-xs-2
        = image_tag 'customers/headshots/bonnie_castonguay.png', class: 'img-fluid img-circle'
      .col-xs-10
        %h5 Bonnie Castonguay, RN  Co-Founder
        %h6 Hookele Health Navigators
    %br
