%section#branded-storage
  .container
    .row
      .col-sm-12
        %h1 Branded Storage
        %blockquote "(Paubox) made doing business over the internet that much easier"
        %h5 Christina Day, Owner Christina Day Insurance Services
%section#branded-storage-features
  .container
    .row
      .col-sm-4
      .col-sm-8
        %h2 All plans include:
        %ul
          %li Unlimited file sharing and bandwidth
          %li 256-bit AES encryption at rest and in transit
          %li Malware detection on uploads
          %li Encrypted & revocable messaging
          %li Admin panel to control folder & file permissions
          %li Add notes in folders for instructions and checklists
          %li White label solution ready for your branding
          %li HIPAA compliant
          %li Business Associate Agreements with paid accounts
          %li 24/7 support
