%section#branded-storage.hero
  .container
    .row
      .col-sm-12.text-sm-center
        %h1
          %i.mdi.mdi-folder-lock
          Branded Storage
        %h4 Encrypted file sharing under your own brand
%section#branded-storage-features
  .container
    .row
      .col-sm-4
      .col-sm-8
        %h2 All plans include:
        %ul
          %li Unlimited file sharing and bandwidth
          %li 256-bit AES encryption at rest and in transit
          %li Malware detection on uploads
          %li Encrypted & revocable messaging
          %li Admin panel to control folder & file permissions
          %li Add notes in folders for instructions and checklists
          %li White label solution ready for your branding
          %li HIPAA compliant
          %li Business Associate Agreements with paid accounts
          %li 24/7 support
