%section#encrypted-email
  .container
    .row
      .col-sm-12
        %h1 Encrypted Email
%hr
%section#encrypted-email-intro
  .container
    .row
      .col-sm-12
        %h2 The current problem with secure email
        %ol
          %li Requires senders to type keywords, install plugins or take other extra steps
          %li Huge barriers to actually see the email's content
          %li Typical email encryption requires 3 to 5 extra steps and focrs users to create logins before viewing content
          %li The experience is even worse on mobile
%hr
%section#encrypted-email-detail
  .container
    .row
      .col-sm-12
        %h2 This is what encrypted email looks when sent with Paubox
        %h3 Features and Benefits
        %ul
          %li Industry leading ease of use email encryption
          %li Easy to deploy with low implementation and training requirements or cost
          %li Free inbound encryption with spam, malware and phishing protection
          %li
            %small Integrates with business email platforms like Microsoft Exchange, Office 365 and Google Apps
          %li
            %small Minimum 128-bit AES encryption
          %li
            %small Up to 256-bit AES end-to-end encryption
          %li
            %small Opportunistic Inbound encryption and robust protection against spam and phishing attacks
          %li
            %small HIPAA compliant
          %li
            %small Business Associate Agreements with paid accounts
          %li
            %small API available to integrate with patient portals and management systems
%hr
%section#encrypted-email-quote
  .container
    .row
      .col-sm-12
        %blockquote "Paubox has solved the HIPAA conundrum for us and really makes our patients feel like they have access to our team to resolve any issue."
        %h5 Chris Rehm
        %i CEO of AfterOurs, Inc.
