%section#encrypted-form
  .container
    .row
      .col-sm-12.text-sm-center
        %h1
          %i.mdi.mdi-fingerprint
          Encrypted Form
        %h4 Eliminate the paper and make getting information easier. HIPAA compliant online forms received straight to your inbox
        %hr
        %br
%section#encrypted-form-features
  .container
    .row
      .col-sm-4
      .col-sm-8
        %h2 Features include:
        %ul
          %li Branded with your logo
          %li All online forms are optimized to work on any device (PC, smartphone, tablet)
          %li Completed forms are encrypted and sent directly to your inbox. No portal login required to gain access to the information.
          %li No cumbersome portals for patients either. Simply provide a link to your online form on your website or in an email.
          %li Up to 256-bit AES encryption
          %li A+ SSL security
          %li Http/2 enabled for increased speed and security
          %li HIPAA compliant
          %li Business Associate Agreement included
          %li PDF and CSV file formats included
