%section#encrypted-email
  .container
    .row
      .col-sm-12
        %h1 Encrypted Email
        %blockquote "Paubox has solved the HIPAA conundrum for us and really makes our patients feel like they have access to our team to resolve any issue."
        %h5 Chris Rehm
        %i CEO of AfterOurs, Inc.
%hr
%section#encrypted-email-intro
  .container
    .row
      .col-sm-12
        %h2 Email encryption without the hassle of portals
        %p For private practices and small to medium healthcare providers it can be costly to implement enterprise software in order to make their electronic communications HIPAA compliant. Not only is it expensive in relation to the direct costs, there is also the time it takes to train staff on how to use new software, and trying to get patients, clients and vendors to adopt the new process. However, investing in the right HIPAA compliant email can actually improve your business.
%hr
%section#encrypted-email-detail
  .container
    .row
      .col-sm-12
        %h2 Paubox makes HIPAA compliant email simple
        %h5 No software to install, no buttons to click, no passwords to remember.
    .row
      .col-sm-6
        %iframe.embed-responsive-item{src: "https://www.youtube.com/embed/rlCcvP9I22k?showinfo=0&amp;rel=0&amp;modestbranding=1"}
      .col-sm-6
        %p Paubox Encrypted Email removes the pain of learning a new software or process for users and ensures up to 256-bit AES encryption for all outbound email. Our encryption service secures each email as you send it. Users don't have to worry about clicking buttons or remember passwords, just write and send emails as normal from any device - Paubox does the rest.
        %p With HIPAA compliant email from Paubox, workflows can become simplified and communication with patients and vendors can take place with technology they are already familiar with.
%hr
%section#encrypted-email-features
  .container
    .row
      .col-sm-4
      .col-sm-8
        %h2 Features include:
        %ul
          %li True seamless deployment, no extra buttons or steps - write and send your emails like normal
          %li Works from your desktop and mobile devices
          %li Integrates with business email platforms like Microsoft Exchange, Office 365 and Google Apps
          %li Up to 256-bit AES end-to-end encryption
          %li Opportunistic Inbound encryption and robust protection against spam and phishing attacks
          %li HIPAA compliant
          %li Business Associate Agreements with paid accounts
          %li API available to integrate with patient portals and management systems
= render partial: 'shared/form'
