%section#encrypted-email-intro.hero
  .container
    .row
      .col-xs-12
        %h5.m-b-0
          %i.mdi.mdi-email-secure
          Encrypted Email
        %h1.p-t-1.m-b-0 Medical-grade security for existing email
        %h2.p-b-1 No new apps, no plug-ins, just email
        = link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'btn btn-outline-success'
        %button.btn.btn-outline-secondary{'data-target' => '#requestDemo', 'data-toggle' => 'modal'} Request a Free Demo
%section#encrypted-email-problem
  .container
    .row
      .col-sm-12
        %h2 The current problem with secure email
        %ol
          %li Requires senders to type keywords, install plugins or take other extra steps
          %li Huge barriers to actually see the email's content
          %li Typical email encryption requires 3 to 5 extra steps and focrs users to create logins before viewing content
          %li The experience is even worse on mobile
%hr
%section#encrypted-email-features
  .container
    .row
      .col-sm-12
        %h2 This is what encrypted email looks when sent with Paubox
        %h3 Features and Benefits
        %ul
          %li Industry leading ease of use email encryption
          %li Easy to deploy with low implementation and training requirements or cost
          %li Free inbound encryption with spam, malware and phishing protection
          %li
            %small Integrates with business email platforms like Microsoft Exchange, Office 365 and Google Apps
          %li
            %small Minimum 128-bit AES encryption
          %li
            %small Up to 256-bit AES end-to-end encryption
          %li
            %small Opportunistic Inbound encryption and robust protection against spam and phishing attacks
          %li
            %small HIPAA compliant
          %li
            %small Business Associate Agreements with paid accounts
          %li
            %small API available to integrate with patient portals and management systems
%hr
%section#encrypted-email-testimonials
  .container
    .row
      .col-sm-12
        %h1 Testimonials
        %h4 Here's why customers trust us with protecting their email
    = render partial: 'shared/testimonials'
