%section#hero
  .container-fluid
    .row
      .col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4.text-xs-center
        %h1 The Easiest Way to Send and Receive HIPAA Compliant Email
        %p
          No extra steps for senders or recipients.
          %br
          Secure email as easy to use as regular email.
        %button.btn.btn-secondary Request a demo
%hr
%section#news
  .container
    .row
      .col-sm-12
        PAUBOX and HIPAA complient email in the news
    .row
      .col-sm-2
        %span.tag.tag-primary Logo 1
      .col-sm-2
        %span.tag.tag-primary Logo 2
      .col-sm-2
        %span.tag.tag-primary Logo 3
      .col-sm-2
        %span.tag.tag-primary Logo 4
      .col-sm-2
        %span.tag.tag-primary Logo 5
      .col-sm-2
        %span.tag.tag-primary Logo 6
%hr
%section#reviews
  .container
    .row
      .col-sm-6
        %blockquote “The great thing about Paubox is they are ahead of the game in terms of their tech behind how they make encryption so easy. They are the only email encryption company out there that’s putting the user experience first.”
        %h5 Dan Miller, CEO
        %i Level Therapy
      .col-sm-6
        %blockquote “Paubox has allowed me freedom to communicate directly and more broadly with my psychotherapy clients and with other related professionals. With its seamless email encryption and keeping my own email address, Paubox has given me peace of mind.”
        %h5 Katie McBride, Ph.D.
        %i Licensed Clinical Psychologist
    .row
      .col-sm-6
        %blockquote “We now utilize our normal email workflow to communicate with our referring doctors about their patients’ treatment. The information is instantaneous, convenient and most importantly secure.”
        %h5 Dr. Jim Ellis, Owner/Surgeon
        %i Ellis Oral Surgery
      .col-sm-6
        %blockquote “We’re better now because we’re protecting our clients’ information.”
        %h5 Bonnie Castonguay, RN  Co-Founder
        %i Hookele Health Navigators
%hr
%section#solutions
  .container
    .row
      .col-sm-12
        %h2 Our Solutions
    .row
      .col-sm-4
        %h3 Email Encryption
      .col-sm-4
        %h3 Encrypted Forms
      .col-sm-4
        %h3 Branded Storage
      .col-sm-4
        %h3 Email API
%hr
%section#numbers
  .container
    .row
      .col-sm-12
        %h2 Over 30,000 emails encrypted per day.
%hr
