.container
  %h1
    Jobs
    %span.tag.tag-success We're hiring
  .row
    .col-sm-6
      %p Paubox is the easiest way to send and receive secure, HIPAA Compliant Email. We are a profitable, largely bootstrapped startup located in San Francisco. We are on a mission to become the market leader for HIPAA compliant email.
    .col-sm-6
      %h5 Open Positions
      %ul
       %li Account Executive
       %li Growth Marketing Intern
