%section#partners-header
  .container
    .row
      .col-sm-12.text-sm-center
        %h1
          Partners
        %h4 Learn more about our company
        %hr
%section#about-team
  .container
    .row
      .col-sm-6
        .row
          .col-xs-3
            %img.img-fluid.img-circle{alt: "Hoala Greevy - Founder CEO of Paubox Inc.", src: "https://www.paubox.com/blog/wp-content/uploads/2015/02/Hoala-Greevy-thumb.jpg"}
          .col-xs-8
            %h5 Hoala Greevy
            Founder, CEO
        %p Hoala has 17 years experience in the email industry and is architect of the Paubox platform. He graduated from Portland State University with a BS in Geography and a BS in Social Sciences. He likes to go kayak fishing when possible.
      .col-sm-6
        .row
          .col-xs-3
            %img.img-fluid.img-circle{alt: "Rick Kuwahara - CMO of Paubox Inc.", src: "https://www.paubox.com/blog/wp-content/uploads/2015/02/RickKuwahara_headshot-150x150.jpeg"}
          .col-xs-8
            %h5 Rick Kuwahara
            CMO
        %p Rick has over 10 years of sales and marketing experience. He is an expert at building data-driven, integrated marketing campaigns that drive growth. Hegraduated from the University of Hawaii at Manoa with a BAin English and aMBA.
