.container
  .row
    .col-sm-12
      %h1 Products
      %h5= link_to 'Encrypted Email', products_encrypted_email_path
      %h5= link_to 'Encrypted Form', products_encrypted_form_path
      %h5= link_to 'Branded Storage', products_branded_storage_path
      %h5= link_to 'Email Api', products_email_api_path
