.container
  .row
    .col-sm-12
      %h1 Solutions
      %h5= link_to 'Encrypted Email', solutions_encrypted_email_path
      %h5= link_to 'Encrypted Form', solutions_encrypted_form_path
      %h5= link_to 'Branded Storage', solutions_branded_storage_path
      %h5= link_to 'Email Api', solutions_email_api_path
