= render partial: 'shared/header',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header') }
= render partial: 'shared/solutions_list'
= render partial: 'shared/sub_footer',
         locals: { footer: t('.sub_footer')}
