%section#solutions
  .row
    .col-sm-12.text-sm-center
      %h1 Solutions
      %h4 Getting encypted in every way
      %hr
      %br
  .row
    .col-sm-3
      %h5= link_to 'Encrypted Email', solutions_encrypted_email_path
    .col-sm-3
      %h5= link_to 'Encrypted Form', solutions_encrypted_form_path
    .col-sm-3
      %h5= link_to 'Branded Storage', solutions_branded_storage_path
    .col-sm-3
      %h5= link_to 'Email Api', solutions_email_api_path
