%section#terms
  .container
    .row
      .col-sm-12.text-sm-center
        %h1 Terms of Service
        %h4 Paubox, Inc.
        %hr
        %br
    .row
      .col-sm-12
        %h4 Master Subscription Terms and Conditions
        %p BY ACCEPTING THIS AGREEMENT OR USING THE SERVICES (AS DEFINED BELOW), YOU AGREE TO THESE TERMS AND CONDITIONS.  IF YOU ARE ENTERING INTO THESE TERMS OF SERVICE AS AN INDIVIDUAL, THE TERM “CUSTOMER” REFERS TO YOU.  IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY AND ITS AFFILIATES TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERM “CUSTOMER” SHALL REFER TO SUCH ENTITY. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.
        %h4 Customer and Paubox, Inc. (“Paubox”) hereby agree as follows:
        %ol
          %li
            %h5 Scope
          %li
            %h5 Free Trial
          %li
            %h5 Right to Use the Services.
            %p During the Subscription Term set forth in an Order, Paubox grants to Customer a nontransferable, nonexclusive, worldwide right to permit those individuals authorized by Customer or on Customer’s behalf, and who are Customer’s employees, agents or contractors (“Users”), to access and use the Services subject to the terms of this Agreement.  Each Order defines specific usage rights (“Usage Rights”), and Customer shall at all times ensure that its use does not exceed its Usage Rights.
          %li
            %h5 Usage Restrictions and Representations.
            %ol
              %li
                %p Customer shall not, directly or indirectly: (i) reverse engineer, decompile, disassemble or otherwise attempt to discover the source code, object code or underlying structure, ideas or algorithms of the Services or any software, documentation or data related to or provided with the Services (“Software”); (ii) modify, translate, or create derivative works based on the Services or Software; or copy (except for archival purposes), rent, lease, distribute, pledge, assign, or otherwise transfer or encumber rights to the Services or Software; (iii) use or access the Services to build or support, and/or assist a third party in building or supporting, products or services competitive to Paubox; or (iv) remove any proprietary notices or labels from the Services or Software. Customer shall use the Services and Software only for its own internal business operations, and not for the operation of a service bureau or timesharing service or otherwise outside of the scope of the express rights granted herein.
              %li
                %p Customer shall not knowingly or willfully use the Services in any manner that could damage, disable, overburden, impair or otherwise interfere with Paubox’s provision of the Services. Customer shall be responsible for maintaining the security of its equipment and account access passwords. Customer represents and warrants that Customer will use the Services only in compliance applicable laws and regulations.  Customer shall be liable for all acts and omissions of its Users.
              %li
                %p Paubox may immediately suspend Customer’s password, account, and access to the Services if (i) Customer fails to make payment due within ten business days after Paubox has provided Customer with notice of such failure; or (ii) Customer violates Section 3, 4, or 10 of these Terms and Conditions. Any suspension by Paubox of the Services under the preceding sentence shall not relieve Customer of its payment obligations under this Agreement.
          %li
            %h5 Ownership
            %ol
              %li
                %p Paubox owns or has rights to all intellectual property rights in and to the Services and Software (including all derivatives or improvements thereof). All suggestions, enhancements requests, feedback, recommendations or other input provided by Customer or any other party relating to the Services or Software shall be owned by Paubox, and Customer hereby makes all assignments necessary to accomplish the foregoing ownership.  Any rights not expressly granted herein are reserved by Paubox.
              %li
                %p Customer owns any data, information or material originated by Customer that Customer submits or provides in the course of using the Services (“Customer Data”). Paubox has no ownership rights in or to Customer Data. Customer shall be solely responsible for the accuracy, quality, content and legality of Customer Data, the means by which Customer Data is acquired and the transfer of Customer Data outside of the Paubox Services.  Except to the extent Customer or any Users make any Customer Data accessible to other users or the public through the Services, Customer Data shall be deemed to be Customer Confidential Information pursuant to Section 10 below.  Customer represents and warrants that it has all rights necessary to upload the Customer Data to the Services and to otherwise have such Customer Data used or shared, as applicable, by Paubox as part of the Services.
          %li
            %h5 Billing and Payment
            %ol
              %li
                %p Customer shall pay all fees set forth in an Order. All fees are non-cancelable and nonrefundable, except as expressly specified in Section 8.2. All fees are exclusive of taxes, levies, or duties imposed by taxing authorities, and Customer shall be responsible for payment of all such taxes, levies, or duties (excluding taxes based on Paubox’s income), even if such amounts are not listed on an Order. Customer shall pay all fees in U.S. Dollars or in such other currency as agreed to in writing by the parties.
              %li
                %p All amounts invoiced hereunder are due and payable as specified in the Order. Unpaid invoices that are not the subject of a written good faith dispute are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all reasonable expenses of collection.
              %li
                %p If at any time Paubox determines that Customer is exceeding the Usage Rights, Paubox shall notify Customer and Customer shall bring its usage within the limits of such Usage Rights. If Customer fails to do so within 30 days of receipt of Paubox’s notice, Paubox reserves the right to charge and Customer agrees to pay Paubox’s then-current usage fees for such overage.
          %li
            %h5 Term and Termination.
            %ol
              %li
                %p This Agreement shall commence as of the date set forth in the first Order or the beginning of a free trial, if earlier, and, unless earlier terminated as set forth below, shall remain in effect through the end of the Subscription Term in any current Order (or the end of the free trial if no purchased subscription is ordered). All sections of this Agreement which by their nature should survive termination will survive, including without limitation, accrued rights to payment, use restrictions and indemnity obligations, confidentiality obligations, warranty disclaimers, and limitations of liability.
              %li
                %p In the event of a material breach by either party, the non-breaching party shall have the right to terminate the applicable Order for cause if such breach has not been cured within 30 days of written notice from the non-breaching party specifying the breach in detail. If Paubox terminates an Order for Customer’s material breach, all fees set forth on such Order are immediately due and payable.
              %li
                %p Upon any termination or expiration of an Order, Customer’s right to access and use the Services covered by that Order shall terminate. Notwithstanding the foregoing, at Customer’s request if received within 30 days of termination of the Order, Paubox will permit Customer to access the Services solely to the extent necessary for Customer to retrieve a file of Customer Data then in Paubox’s possession. Customer acknowledges and agrees that Paubox has no obligation to retain Customer Data and that Paubox will have the right to irretrievably delete and destroy Customer Data after 30 days following the termination of this Agreement.
          %li
            %h5 Representations, Disclaimer of Warranties, Indemnities.
            %ol
              %li
                %p Each party represents and warrants to the other party that it has the power and authority to enter into this Agreement. Paubox warrants to Customer that it will (a) perform the Services substantially in accordance with its documentation under normal use; and (b) provide the Services in a manner consistent with generally accepted industry standards. Customer must notify Paubox of any warranty deficiencies within 30 days from performance of the relevant Services in order to receive warranty remedies.
              %li
                %p For breach of the express warranty set forth above, Customer’s exclusive remedy shall be the re-performance of the deficient Services. If Paubox cannot re-perform such deficient Services as warranted, Customer shall be entitled to recover a pro-rata portion of the fees paid to Paubox for such deficient Services, and such refund shall be Paubox’s entire liability.
              %li
                %p The Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, or because of other causes beyond Paubox’s reasonable control, but Paubox shall use reasonable efforts to provide advance notice in writing or by e-mail of any scheduled unavailability of the Services.
              %li
                %p Paubox shall defend at its expense any third party claim, suit or proceeding (each, a “Claim”) brought against Customer by a third party alleging that the use of the Service as contemplated hereunder infringes the intellectual property rights of a third party, and Paubox shall pay all costs and damages finally awarded against Customer by a court of competent jurisdiction as a result of any such Claim; provided that Customer (a) promptly gives written notice of the Claim to Paubox; (b) gives Paubox sole control of the defense and settlement of the Claim (provided that Paubox may not settle any Claim unless it unconditionally releases Customer of all liability); and (c) provides to Paubox, at Paubox’s cost, all reasonable assistance.  The foregoing indemnity shall not apply to any Claim based upon or arising from (i) any use of the Service outside the scope of this Agreement, or (ii) a combination of the Service with any content or other technology not provided by Paubox, to the extent the Claim would not have arisen but for such combination.  If the use of the Services by Customer has become, or in PAUBOX’s opinion is likely to become, the subject of any claim of infringement, Paubox may at its option and expense (i) procure for Customer the right to continue using and receiving the Services as set forth hereunder, (ii) replace or modify the Services to make them non-infringing with at least equivalent functionality; or (iii) if options (i) and (ii) are not reasonably practicable, terminate this Agreement and refund any prepaid fees for unearned Services.
              %li
                %p Customer shall defend at its expense any Claim brought against Paubox alleging that Customer Data, or Customer’s use of the Services in violation of this Agreement, infringes the intellectual property rights of, or has otherwise harmed, a third party or violates any law or regulation, and Customer shall pay all costs and damages finally awarded against Paubox by a court of competent jurisdiction as a result of any such Claim; provided that Paubox (i) promptly gives written notice of the Claim to Customer; (ii) gives Customer sole control of the defense and settlement of the Claim (provided that Customer may not settle or defend any Claim unless it unconditionally releases Paubox of all liability); and (iii) provides to Customer, at Customer’s cost, all reasonable assistance.
              %li
                %p EXCEPT FOR THE EXPRESS WARRANTIES SET FORTH HEREIN, PAUBOX AND ITS THIRD PARTY PROVIDERS HEREBY DISCLAIM ALL EXPRESS OR IMPLIED WARRANTIES WITH REGARD TO THE SERVICES, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,TITLE, NON-INFRINGEMENT AND QUALITY. PAUBOX AND ITS THIRD PARTY PROVIDERS MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE RELIABILITY, AVAILABILITY, TIMELINESS, SUITABILITY, ACCURACY OR COMPLETENESS OF THE SERVICES OR THE RESULTS CUSTOMER MAY OBTAIN BY USING THE SERVICES. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, PAUBOX AND ITS THIRD PARTY PROVIDERS DO NOT REPRESENT OR WARRANT THAT (A) THE OPERATION OR USE OF THE SERVICES WILL BE TIMELY, UNINTERRUPTED OR ERROR-FREE; OR (B) THE QUALITY OF THE, SERVICES WILL MEET CUSTOMER’S REQUIREMENTS. CUSTOMER ACKNOWLEDGES THAT NEITHER PAUBOX NOR ITS THIRD PARTY PROVIDERS CONTROLS THE TRANSFER OF DATA OVER COMMUNICATIONS FACILITIES, INCLUDING THE INTERNET, AND THAT THE SERVICES MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF SUCH COMMUNICATIONS FACILITIES. PAUBOX IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS. EXCEPT WHERE EXPRESSLY PROVIDED OTHERWISE BY PAUBOX, THE SERVICES ARE PROVIDED TO CUSTOMER ON AN “AS IS” BASIS.
          %li
            %h5 Limitation of Liability
          %li
            %h5 Confidential Information
          %li
            %h5 Statistical Information.
            %p Notwithstanding anything else in this Agreement or otherwise, Paubox may monitor Customer’s use of the Services and use Customer Data in an aggregate and anonymous manner, compile statistical and performance information related to the provision and operation of the Services, and may make such information publicly available, provided that such information does not incorporate Customer Data and/or identify Customer’s Confidential Information. Paubox retains all intellectual property rights in such information.
          %li
            %h5 Notices
          %li
            %h5 General provisions.
            %ol
              %li
                %p Any action, Claim, or dispute related to this Agreement will be governed by California law, excluding its conflicts of law provisions, and controlling U.S. federal law. The Uniform Computer Information Transactions Act will not apply to this Agreement. In any action or proceeding to enforce rights under this Agreement, the prevailing party will be entitled to recover costs and attorneys’ fees. The failure of either party to enforce any right or provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by such party in writing.
              %li
                %p This Agreement (including all Order(s)) represents the parties’ entire understanding relating to the Services, and supersede any prior or contemporaneous, conflicting or additional communications. Customer acknowledges that this Agreement is a contract between Customer and Paubox, even though it may be electronic and not physically signed by Customer and Paubox, and it governs Customer’s use of the Service and takes the place of any prior agreements between Customer and Paubox.  This Agreement may be amended only by written agreement signed by the parties. If any provision of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed to reflect the intentions of the invalid or unenforceable provision(s), with all other provisions remaining in full force and effect.
              %li
                %p No joint venture, partnership, employment, or agency relationship exists between Paubox and Customer as a result of this Agreement or use of the Services. Neither party may assign this Agreement without the prior written approval of the other, such approval not to be unreasonably withheld or delayed, provided that such approval shall not be required in connection with a merger or acquisition of all or substantially all of the assets of the assigning company related to this Agreement. Any purported assignment in violation of this Section shall be void.
