.fallback
  display: inherit
.animation
  display: none
.preserve3d
  .fallback
    display: none
  .animation
    display: inherit

#animation
  background: $gray-lighter

.animation
  position: relative
  height: 35vw
  // margin-top: -2rem
  // margin-bottom: 2rem

  img
    max-width: 100%

  .texts
    position: absolute
    top: 25vw
    width: 100%

    .text
      position: absolute
      width: 100%
      opacity: 0

  .foreground,
  .background,
  .middleground
    position: absolute
    width: 100%

  .foreground
    z-index: 30

  .background
    z-index: 10

  .middleground
    z-index: 20
    transform-style: preserve-3d
    transform: translate3d(0vw, -32.5vw, 1vw) rotateX(55deg) rotateY(0deg) rotateZ(-45deg)
    height: 100vw
    width: 100vw
    // background-image: image-url('animations/email/grid.svg')
    // background-size: 3vw

    img
      max-width: 100%
      height: auto

    .line
      position: absolute
      &.line-1,
      &.line-3,
      &.line-5
        border-top: 0.5vw dashed $brand-primary
        width: 13vw
      &.line-2,
      &.line-4,
      &.line-6
        border-left: 0.5vw dashed $brand-primary
        height: 13vw
      &.line-1
        top: 39.5vw
        left: 27vw
      &.line-2
        top: 68vw
        left: 68vw
      &.line-3
        top: 39.5vw
        left: 55vw
      &.line-4
        top: 39.5vw
        left: 68vw
      &.line-5
        top: 60.5vw
        left: 46.2vw
        border-color: $brand-danger
      &.line-6
        top: 47.5vw
        left: 46.2vw
        border-color: $brand-danger

    .envelope
      transform: translate3d(9vw, 30.4vw, 8vw) rotateX(-90deg) rotateY(0deg) rotateZ(0)
      width: 9vw
      opacity: 0
      position: absolute

    .laptop
      transform: translate3d(4.84vw, 33.1vw, 1vw) rotateX(0deg) rotateY(0deg) rotateZ(0)
      transform-style: preserve-3d

      .top
        width: 17.65vw
        position: relative
        transform: translate3d(0, 0, 1vw) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        transform-origin: 0% 100%
        transform-style: preserve-3d

        .front,
        .back
          backface-visibility: hidden
          position: absolute
          width: 100%
        .front
          transform: rotateX(180deg)
          .window
            // opacity: 0
            width: 8vw
            height: 6vw
            border: 0.5vw solid $brand-danger
            border-radius: 0.5vw
            color: $brand-danger
            text-align: center
            position: absolute
            top: 3vw
            left: 4.825vw
            font-weight: bold

    .phone
      // opacity: 0
      width: 3vw
      height: 5.7vw
      border: 0.5vw solid $brand-danger
      border-radius: 0.5vw
      color: $brand-danger
      text-align: center
      position: absolute
      top: 0vw
      left: 2.8vw
      font-weight: bold
      transform: translate3d(64.5vw, 83vw, 0vw) rotateX(0deg) rotateY(0deg) rotateZ(90deg)
