#animation
  background: $gray-lighter

.animation-wrap
  position: relative
  transform-style: preserve-3d
  overflow: hidden

  img
    max-width: 100%
    height: auto

  .animation
    position: relative

  .inbox-sender
    height: 50%
    width: 25%
    float: left

  .inbox-recipient
    height: 50%
    width: 25%
    float: left

  .phone
    height: 50%
    width: 25%
    float: left

  .laptop
    height: 50%
    width: 25%
    float: left
    transform-style: preserve-3d
    transform: translateX(2em) translateY(6em) rotateX(55deg) rotateY(0deg) rotateZ(-45deg)

    .top,
    .bottom
      height: 140px
      width: 200px
      position: absolute
      transform-style: preserve-3d
      transition: all 1s
    .top
      transform-origin: 0% 0%
      transform: translateX(0) translateY(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
    .bottom
      transform: translateX(0) translateY(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
    .front,
    .back
      backface-visibility: hidden
      position: absolute
    .front
      transform: rotateY(180deg)
    .back
      transform: rotateY(0deg)
    &:hover
      .top
        transform: translateX(0) translateY(0) rotateY(0deg) rotateX(90deg) rotateZ(0deg)
