// Shrink everything on mobile
html
  font-size: 14px
  @media (min-width: 544px)
    font-size: inherit
#mfPreviewBar
  display: none !important

// General
.code
  @extend code
.mdi:before
  font-size: 1em
section
  padding-top: 3.375rem
  padding-bottom: 3.375rem
.hidden
  display: none
.list-group-flush .list-group-item
  border-left: none
  border-right: none
img.logo
  height: 0.76em
  vertical-align: baseline
b, strong
  font-family: 'Geogrotesque Medium'

// Thick outline buttons
.btn
  border-width: 0.125rem

// Devise
body[id^="devise"]
  background: darken($brand-primary, 10%)

// Cards
.card,
.modal-content
  background: $brand-primary
  color: white
  border-color: darken($brand-primary, 10%)
  a
    color: rgba(255,255,255,0.5)
    &:hover
      color: rgba(255,255,255,0.75)
  .form-actions
    margin-bottom: 1rem
.modal-header,
.modal-footer
  border-bottom-color: darken($brand-primary, 10%)
.close
  opacity: 1 !important
  text-shadow: none
  color: rgba(255,255,255,0.5)
  &:hover
    color: rgba(255,255,255,0.75)

// Child list
ul.list-unstyled
  ul
    list-style: none
    padding-left: 1rem

// Navbar
nav
  user-select: none
a
  cursor: pointer
.nav-link
  transition: all .3s
.dropdown-toggle::after
  margin-left: 0
.navbar-toggler
  color: white

// Alerts
#flash
  position: fixed
  top: 1rem
  left: 1rem
  right: 1rem
  z-index: 9999

// Heroes
.hero
  background-size: cover
  background-position: center
  color: white
  position: relative
  @media (min-width: 544px)
    padding-top: 30vh
    padding-bottom: 10vh
  &:before
    background: linear-gradient(135deg, $brand-primary 20%, transparentize($brand-primary, .7) 100%)
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
    content: ''
html,
body,
.hero
  height: 100%

// Home
.home
  .hero
    background-image: image-url('heroes/home.jpg')
    .title
      display: none

// Encrypted Email
.solution_encrypted_email
  .hero
    background-image: image-url('heroes/encrypted_email.jpg')

// Encrypted Forms
.solution_encrypted_form
  .hero
    background-image: image-url('heroes/encrypted_form.jpg')

// Branded Storage
.solution_branded_storage
  .hero
    background-image: image-url('heroes/branded_storage.jpg')

// Email API
.solution_email_api
  .hero
    background-image: image-url('heroes/email_api.jpg')

// Sub Footer
#sub-footer
  background: $gray-lighter

// Footer
#footer
  background: $brand-primary
  color: white
  a:not(.btn)
    color: rgba(255, 255, 255, 0.5)
    transition: color .3s
    &:hover
      text-decoration: none
      color: rgba(255, 255, 255, 0.75)

// Sticky footer
html,
body
  height: 100%
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto
  padding-top: 3.37rem
footer,
.push
  height: 2.5rem
// Superpencil tag
.superpencil
  .tag-secondary
    background-color: #FCE400
    color: #774701
    font-family: 'Avenir Next', 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-weight: bold
  img
    width: 17px
    margin-right: -2px
    margin-top: -1px
